body {
    margin: 100px;
}

.one {
    height: 145px;
    background: #3A6F77;
    width: 140px;
    border-radius: 20px 20px 5px 5px;
    border: 3px solid #D3993A;
}

.a,
.b,
.c {
    height: 75px;
    width: 30px;
    background: white;
    margin: 7px;
    border: 3px solid #D3993A;
    float: left;
    border-radius: 10px;
}

.e{
    border: 3px solid #D3993A;
    width:60px;
    height:35px;
    color: #d3993a;
    background: red;
    position: relative;
    margin:95px auto;
    padding:5px;
    border-radius: 5px;
}